.contact {
  background: #f8f9fd;
  padding-top: 100px;
  /* min-height: 100vh; */
}
.contact-container {
  max-width: 1140px;
  width: 100%;
  padding: 0px 15px;
  margin: auto;
  position: relative;
  display: flex;
  font-family: "Montserrat", sans-serif;
}

.left {
  width: 35%;
  background-color: rgb(27, 161, 45);
  padding: 50px;
  color: white;
}

.right {
  width: 65%;
  padding: 3rem;
  background-color: white;
}

.left h3 {
  font-size: 28px;
  font-weight: 400;
  margin-bottom: 15px;
}

.left p {
  margin-bottom: 1.5rem;
  color: rgba(255, 255, 255, 0.8);
  line-height: 27px;
}

.info_text {
  flex: 1;
  display: flex;
  align-items: center;
}

.info_text p {
  margin: 0;
}

.contact_info {
  display: flex;
  width: 100%;
  /* justify-content: space-between; */
  margin-bottom: 15px;
}

span .MuiSvgIcon-root {
  padding: 7px;
  height: 50px;
  width: 50px;
  border: 1px solid grey;
  border-radius: 50%;
  margin-right: 10px;
}

.right h3 {
  font-size: 28px;
  font-weight: 400;
  margin-bottom: 15px;
}

.right .input-col {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.right .divided-col {
  display: flex;
}

.right .half {
  width: 50%;
}

.input-box {
  margin-bottom: 30px;
  padding: 0 15px;
}

.input-box label {
  color: #000000;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
}

.MuiTypography-body1{
  padding: 15px;
}

div.MuiGrid-root MuiGrid-item {
  font-family: "Montserrat", sans-serif;
}

.input-box input {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  height: 52px !important;
  background: #fff !important;
  color: #000000 !important;
  font-size: 14px;
  border-radius: 5px;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  width: 100%;
  font-weight: 400;
  line-height: 1.5;
}

.input-box textarea {
  margin-top: 0px;
  margin-bottom: 0px;
  margin: 0;
  font-family: inherit;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  overflow: auto;
  resize: vertical;
  height: 88px;
  background: #fff !important;
  color: #000000 !important;
  font-size: 14px;
  border-radius: 5px;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  width: 100%;
  font-weight: 400;
  line-height: 1.5;
}

.input-box input:focus,
.input-box textarea:focus {
  outline: none;
}

.right .input-box #message-button {
  cursor: pointer;
  background: #1ba12d !important;
  border: 1px solid #1ba12d;
  color: #fff !important;
  padding: 12px 16px;
  border-radius: 4px;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  line-height: 1.5;
}
